{% extends "layout.html" %}

{% block title %}
    Correct!
{% endblock %}

{% block main %}

    <div class="card mx-auto text-center text-bg-success my-5" style="width: 18rem;">
        <div class="card-body">
            <h1 class="card-title"><i class="bi bi-check-circle-fill"></i></h1>
            <h3 class="card-subtitle mb-2">Correct!</h3>
            <h6 class="card-text mb-2 text-body-light">The correct answer was:</h6>
            <h4 class="card-text"><i>{{ correct_answer }}</i></h4>
        </div>
    </div>

    <div class="container-fluid mx-auto text-center" style="width: 18rem;">
        <form action="/practice" method="post">
            <p><button autofocus class="btn btn-primary mt-3" type="submit">Next</button></p>
        </form>
    </div>

    <div class="container-fluid mx-auto text-center mt-3" style="width: 18rem;">
        <p>SCORE: {{ score }}/{{ total }}</p>
    </div>

    <div class="container-fluid mx-auto text-center" style="width: 18rem;">
        <form action="/scorecard" method="get">
            <button class="btn btn-danger mt-3 btn-lg" type="submit">End practice</button>
        </form>
    </div>

{% endblock %}
