{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}

    <div class="container-fluid text-center my-5" style="width: 60rem;">
        <h5> Created by <a href="https://github.com/callumjethomas"><i class="bi bi-github"></i> callumjethomas</a>, January 2024. </h5>
        <hr>
        <h6>Conjugo was created in <a href="https://www.python.org/downloads/release/python-3117/">Python 3.11.7</a> using <a href="https://github.com/pallets/flask">Flask 3.0.1</a> and the <a href="https://github.com/Ars-Linguistica/mlconjug3">mlconjug3</a> library (v3.10.4) created by Sekou Diao.</h6>
        <h6>The SQL function from the <a href="https://cs50.readthedocs.io/libraries/cs50/python/">CS50 library for Python</a> was also used
            for database manipulation in conjunction with <a href="https://github.com/python/cpython/tree/3.12/Lib/sqlite3/">sqlite3</a>.</h6>
        <h6>Verb lists were taken from the list of <a href="https://www.linguasorb.com/french/verbs/most-common-verbs/">100 most common French verbs</a> published by linguasorb.</h6>

{% endblock %}
